.navbar {
    background-color: rgb(40, 61, 54);
    color: #f0efd1;
}

.nav-item {
    margin-left: 1rem;
}

h1 {
    margin-bottom: 2rem;
    text-shadow: 2px 2px rgb(40, 61, 54);
}

h1, h3 {
    color: #f0efd1;
    font-family: 'Rock Salt', cursive;
}

h4>a {
    color: #8f7f2f
}

h4>a:hover {
    color: #f0efd1;
    text-decoration: none;
}
.darker{
    color: rgb(40, 61, 54);
    text-align: left;
}
h4, p, .btn {
    font-family: 'Montserrat', sans-serif;
}

#padder {
    background-color: rgb(162, 173, 160);
    color: #f0efd1;
}

#hero {
    padding-top: 20rem;
    padding-bottom: 10rem;
    text-align: center;
    background-image: url(https://picsum.photos/4000/2667?image=885);
    min-height: 40rem;
    max-height: 45rem;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-row {
    padding: 2rem;
}
.note-header{
    margin-bottom: 2rem;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(189, 189, 189, 0.5);
    margin-top: 5rem;
}

.modal-content {
    background-color: #f0efd1;
    border: 2px solid rgb(94, 119, 111);
    margin: 25% auto;
    margin-top: 70px;
    padding: 20px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.modaltext {
    font-family: 'Quicksand', sans-serif;
    color: rgb(40, 61, 54);
    text-shadow: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.close {
    text-align: right;
    color: rgb(40, 61, 54);
    opacity: 1;
    text-shadow: none;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
    margin-right: -10px;
}

.close:hover, .close:focus {
    color: rgb(40, 61, 54);
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
}

.note-header, label {
    color: rgb(40, 61, 54);
}

.btn-yellow {
    color: #283d36;
    border: none;
    background-image: -webkit-linear-gradient(top, #f0efd1, #c4b97f);
    background-image: -moz-linear-gradient(top, #f0efd1, #c4b97f);
    background-image: -ms-linear-gradient(top, #f0efd1, #c4b97f);
    background-image: -o-linear-gradient(top, #f0efd1, #c4b97f);
    background-image: linear-gradient(top, #f0efd1, #c4b97f);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #8f7f2f, 0 4px 2px rgba(0, 0, 0, .5);
}

.btn-green {
    margin-bottom: 1rem;
    color: #f0efd1;
    border: none;
    background-image: -webkit-linear-gradient(top, #799188, #466359);
    background-image: -moz-linear-gradient(top, #799188, #466359);
    background-image: -ms-linear-gradient(top, #799188, #466359);
    background-image: -o-linear-gradient(top, #799188, #466359);
    background-image: linear-gradient(top, #799188, #466359);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #283d36, 0 4px 2px rgba(0, 0, 0, .5);
}

.btn-gold{
    color: #283d36;
    border: none;
    background-image: -webkit-linear-gradient(top, #e7de97, #a39445);
    background-image: -moz-linear-gradient(top, #799188, #466359);
    background-image: -ms-linear-gradient(top, #799188, #466359);
    background-image: -o-linear-gradient(top, #799188, #466359);
    background-image: linear-gradient(top, #799188, #466359);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #685e2d, 0 4px 2px rgba(0, 0, 0, .2);
}
.nothing-message{
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}